*{
  margin: 0em;
  padding: 0em;
  font-size: 1.4rem;
}

h1{
  text-align: center;
  color: white;
  background-color: rgb(156, 22, 49);
  padding: 1rem;
  
}

.container{
  margin: 2rem 20rem;
  background-color: rgb(47, 8, 16);
  color:#fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  border-radius: 10px;

}

button{
  margin: 0.8em;
  font-size: 20px;
  padding: 9px 20px; 
}

.output{
  display: block;
  padding: 1rem;
}